#msg_box {
    border: 1px silver solid;
    width: 500px;
    height: 500px;
}

/* The messages in the msg box. */
span.msg {
    display: block;
}

/* The new message input box. */
input[name="msg"] {
    width: 430px;
}